Repository nodejs/nodejs-ko, pull requests merged in 2021-04, with the labels that each got.

#1093 Bugfix: josa() returns a string containing undefined
  bin/translate.mjs
Labels: bug

#1094 Translate Node v12.22.0 (LTS)
  source/_posts/2021-03-30-release-v12.22.0.md
Labels: translation

#1092 Translate Node v15.13.0 (Current)
  source/_posts/2021-03-31-release-v15.13.0.md
Labels: translation

#1095 Translate "April 2021 Security Releases"
  source/_posts/2021-03-31-vulnerability-april-2021-security-releases.md
Labels: translation

#1102 scaffold accepts original URL instead raw URL
  bin/scaffold.mjs
Labels: in review

#1101 2021 security april
  source/_posts/2021-03-31-vulnerability-april-2021-security-releases.md
  source/_posts/2021-04-06-release-v10.24.1.md
  source/_posts/2021-04-06-release-v12.22.1.md
  source/_posts/2021-04-06-release-v14.16.1.md
  source/_posts/2021-04-06-release-v15.14.0.md
Labels: in review, translation
