Repository nodejs/nodejs-ko, pull requests merged in 2021-01, with the labels that each got.

#1025 Translate: v14.12.0 - v14.13.1
  source/_posts/2020-09-22-release-v14.12.0.md
  source/_posts/2020-09-29-release-v14.13.0.md
  source/_posts/2020-10-07-release-v14.13.1.md
Labels: translation

#1028 Translate Node v14.14.0
  source/_posts/2020-10-16-release-v14.14.0.md
Labels: in review, translation

#1024 Translate: June 2020 Security Releases
  source/_posts/2020-05-26-vulnerability-june-2020-security-releases.md
Labels: translation

#1040 use hexo-deployer-git on npm
  package-lock.json
  package.json
Labels: bug, dependencies

#1023 Translate Node v10.22.1, 12.18.4, 14.11.0
  source/_posts/2020-09-15-release-v10.22.1.md
  source/_posts/2020-09-15-release-v12.18.4.md
  source/_posts/2020-09-15-release-v14.11.0.md
  source/_posts/2020-09-15-vulnerability-september-2020-security-releases.md
Labels: in review, translation

#1042 Translate "Node v10.23.0 (LTS)"
  source/_posts/2020-10-27-release-v10.23.0.md
Labels: in review, translation

#1043 Translate "Node v14.15.0 (LTS)"
  source/_posts/2020-10-27-release-v14.15.0.md
Labels: in review, translation

#1026 Translate: Node v12.19.0
  source/_posts/2020-10-06-release-v12.19.0.md
Labels: translation

#1054 Translate "Node v12.20.0 (LTS)"
  source/_posts/2020-11-24-release-v12.20.0.md
Labels: in review, translation

#1046 Translate "Node v15.1.0 (Current)"
  source/_posts/2020-11-04-release-v15.1.0.md
Labels: in review, translation

#1047 Translate "Node v15.2.0 (Current)"
  source/_posts/2020-11-10-release-v15.2.0.md
Labels: in review, translation

#1048 Translate "November 2020 Security Releases"
  source/_posts/2020-11-13-vulnerability-november-2020-security-releases.md
  source/_posts/2020-11-16-release-v12.19.1.md
  source/_posts/2020-11-16-release-v14.15.1.md
  source/_posts/2020-11-16-release-v15.2.1.md
Labels: in review, translation

#1058 Translate "Node v14.15.3 (LTS)"
  source/_posts/2020-12-17-release-v14.15.3.md
Labels: in review, translation

#1053 Translate "Node v15.3.0 (Current)"
  source/_posts/2020-11-24-release-v15.3.0.md
Labels: in review, translation

#1055 Translate "Node v15.4.0 (Current)"
  source/_posts/2020-12-09-release-v15.4.0.md
Labels: in review, translation

#1057 Translate "Node v14.15.2 (LTS)"
  source/_posts/2020-12-15-release-v14.15.2.md
Labels: in review, translation

#1060 Translate v15.0.0 and v15.0.1
  source/_posts/2020-10-20-release-v15.0.0.md
  source/_posts/2020-10-21-release-v15.0.1.md
Labels: in review, translation

#1059 Translate "Node v15.5.0 (Current)"
  source/_posts/2020-12-22-release-v15.5.0.md
Labels: in review, translation

#1061 Translate “January 2021 Security Releases”
  source/_posts/2020-12-11-vulnerability-january-2021-security-releases.md
Labels: in review, translation
